// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-green: #CCD5AE;
$lighter-green: #E9EDC9;
$light-yellow: #FEFAE0;
$light-cream: #FAEDCD;
$light-brown: #D4A373;
$jet: #2B2C28;
$lighter-jet: #343630;
