<div class="container explore">
  <div class="search-users align-top">
    <div class="search-results-users my-5" data-controller="user-search">
      <%= form_with url: users_path, method: :get, html: { class: 'row g-2 justify-content-center mb-5', data: { user_search_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search username',
                      value: params[:query],
                      data: {
                        user_search_target: 'input',
                        action: "keyup->user-search#search"
                      } %>
      <% end %>
      <%= render "list", users: @users %>
    </div>
  </div>
</div>
