<div class= "profile">
  <div class="text-center">
    <div class="avatar-img">
      <img alt="avatar-img" src="https://cdn-icons-png.freepik.com/256/14024/14024658.png?semt=ais_hybrid" />
    </div>
    <div class= "mt-3">
      USER NAME
    </div>
    <div class= "mt-3">
      AGE
    </div>
    <div class= "mt-3">
      LOCATION
    </div>
    <div class= "mt-3">
      BIO
    </div>
    <div class= "container mt-3">
      Here goes the tags
    </div>
  </div>
</div>
