<div class= "landingpage-title">
  <div class="text-center">
    <h1>SelfShelf</h1>
    <div>
      <button class="log-in-button" role="button"><%= link_to "Log in", new_user_session_path, class: "nav-link" %></button>
    </div>
    <div>
      <button class="log-in-button" role="button"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></button>
    </div>
  </div>
</div
>
