<div class="container">
  <h1 class="my-5">Search Results</h1>
  <div class="search-results-interests" data-controller="search">
    <form class="row g-2 justify-content-center py-5" data-action="keyup->search#search">
      <input type="text"
            class="form-control"
            placeholder="Find books, movies"
            data-search-target="input">
    </form>
    <%= render 'list', movies: @movies, books: @books, albums: @albums, interests: @interests, shelf_interest: @shelf_interest %>
  </div>
</div>
