<div class="container">
  <h1>Search Results</h1>
  <div class="search-results-movies" data-controller="movies">
    <form class="row g-2 justify-content-center py-5" data-action="keyup->movies#search">
      <input type="text"
            class="form-control"
            placeholder="Find movie"
            data-movies-target="input">
    </form>
    <div id="results"
        class="cards"
        data-movies-target="results">
    </div>
  </div>
  <div class="search-results-books" data-controller="books">
    <form class="row g-2 justify-content-center py-5" data-action="keyup->books#search">
      <input type="text"
            class="form-control"
            placeholder="Find book"
            data-books-target="input">
    </form>
    <div id="results"
        class="cards"
        data-books-target="results">
    </div>
  </div>
</div>
