<div class="container">
  <h1>Search Results</h1>
  <div class="search-results-interests" data-controller="search">
    <form class="row g-2 justify-content-center py-5" data-action="keyup->search#search">
      <input type="text"
            class="form-control"
            placeholder="Find books, movies"
            data-search-target="input">
    </form>
    <%# <div id="results"
        class="cards"
        data-movies-target="results">
    </div> %>
    <%= render 'list', interests: @interests, shelf_interest: @shelf_interest %>
  </div>
  <%# <div class="search-results-books" data-controller="books">
    <form class="row g-2 justify-content-center py-5" data-action="keyup->books#search">
      <input type="text"
            class="form-control"
            placeholder="Find book"
            data-books-target="input">
    </form>
    <div id="results"
        class="cards"
        data-books-target="results">
    </div>
  </div> %>
</div>
