<div class="container">
  <h1>Search Results</h1>
  <div class="search-results-movies" data-controller="movies">
    <form class="row g-2 justify-content-center py-5"
          data-action="keyup->movies#search">
      <input type="text"
            class="form-control"
            placeholder="Find movie"
            data-movies-target="input">
    </form>
    <div id="results"
        class="cards"
        data-movies-target="results">
    </div>
  </div>
  <div class="cards">
    <% @interests.each do |interest|%>
      <%= render "interest_card", interest: interest, shelf_interest: @shelf_interest %>
    <% end %>
  </div>
</div>
