<div class="card-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= shelf_interest.interest.photo.attached? ? cl_image_path(shelf_interest.interest.photo.key) : image_path(shelf_interest.interest.cover) %>)">
  <h5><%= shelf_interest.interest.title %></h5>
  <%= link_to "",  user_shelf_interest_path(shelf_interest.user, shelf_interest), class: "card-item-link" %>
  <%= link_to shelf_interest_path(shelf_interest), data: {turbo_method: :delete}, class: "delete-btn" do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
</div>
