<div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= interest.photo.attached? ? cl_image_path(interest.photo.key) : image_path('https://www.peeters-leuven.be/covers/no_cover.gif') %>)">
  <h2><%= interest.title %></h2>
</div>
