<div class="container text-center">
  <h1>Your <%= params[:media_type].pluralize %></h1>
  <div class="cards">
    <% @shelf_interests.each do |shelf_interest|  %>
      <%= render "shelf_filtered_card", shelf_interest: shelf_interest %>
    <% end %>
  </div>
</div>
