<div class="container">
  <div class="cards">
    <% @shelf_interests.each do |shelf_interest|  %>
      <%= render "shelf_filtered_card", shelf_interest: shelf_interest %>
    <% end %>
  </div>
</div>
