.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:#FAEDCD;
  padding-bottom: 70px;

  h1{
    font-size: 40px;
    text-shadow: 4px 4px pink;
  }

  p{
    text-align: justify;
  }


  &.explore {
    justify-content: flex-start;
  }



  summary {
    max-width: 600px;
    background-color: pink;
    border-radius: 10%;

    p{
      padding: 5%;
    }
  }
}

.cover img {
  max-width: 100%;
  height: 244px;
  border-radius: 50%;
}

.comments-section {
  max-width: 600px;
  background-color: pink;
  border-radius: 10%;
  width: 300px;
  padding: 30px;
}
