.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:#FAEDCD;

  h1{
    font-size: 40px;
    text-shadow: 4px 4px pink;
  }

  p{
    text-align: justify;
  }


  &.explore {
    justify-content: flex-start;
  }



  summary {
    max-width: 600px;
    background-color: pink;
    border-radius: 10%;

    p{
      padding: 5%;
    }
  }
}

.cover img {
  max-width: 100%;
  height: 244px;
  border-radius: 50%;
}

.comments-section {
  word-break: break-word;
  width: 100%;
  height: 457px;
  background-image: asset-url('Cute_user_comment.gif');
  background-size: cover;
  background-position: center;

  h2{
    display: flex;
    justify-content: center;
  }
}

.shelf_interest-details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.comments-list {
  justify-content: center;
  width: 50%;
  margin-top: 40px;
}

.center-text {
  justify-content: center;
  display: flex;
  margin: 10%;
}

.center-text form {
  margin-top: 100px;
}

.summary {
  display: flex;
}
