.bottom-nav {
  position: fixed;
  bottom: 0;
  background: $light-cream;
  z-index: 5;
  padding: 12px 0;
  width: 100%;
  border: 0.3px solid black;
  i {
    color: $jet;
    font-size: 1.5rem;
  }
  p {
    font-size: 8px;
    margin: 0;
    padding: 0;
    width: 16px;
  }
}
