.button-2 {
  background-color: #CCD5AE;
  border-radius: 8px;
  border-width: 0;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;

}

.button-profile {
  color: #333333;
}

.star-rating {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: pink;
  transition: color 0.35s;
}

.star-rating:hover {
  color: gold;
}
