
.button-2 {
  background-color: $light-green;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  border: 0.3px solid black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;

}

.button-profile {
  color: #333333;
}

.star-rating {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: pink;
  transition: color 0.35s;
}

.star-rating:hover {
  color: gold;
}

.fa-circle-xmark {
  color: white;

}
