.profile-info{

  background-color: $light-pink;
  border-radius: 10px 120px;
  padding: 10px;
  width: 350px;
  border: solid;

  h1{
    margin: 9px;
    text-align: center;
    padding: 2%;
  }

  p{
    padding: 10%;
  }
}

#profile-tab-pane {
  width: 100%;
}

.profile-tag a {
color: black;
}

.profile-container show {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $light-yellow;
}

.profile {
  justify-items: center;
  margin-top: 50px;
}

.interest-info-card {
  border-radius: 34px;
  background: #FAEDCD;
  box-shadow:  5px -5px 17px #d2c7ac,
               -5px 5px 17px #ffffee;
}
.user-info {

  h1 {
    font-size: 25px;
    text-align: center;
  }

  p{
    text-align: center;
    font-size: 20px;
  }
}

.whatever {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
