.shelf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $light-yellow;

}

.top-shelf-Cute{
  background-image: asset-url('Cute_top_shelf.gif');
  flex: 1;
  width: 360px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-top: 8%;
}

.top-shelf-Classic{
  background-image: asset-url('Classic_top_shelf.gif');
  flex: 1;
  width: 120px;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: -90px;
}

.portrait{
  background-image: asset-url('Cute_photo.png');
  flex: 1;
  width: 150px;
  height: 245px;
  background-size: cover;
}


.shelf-Cute {
  background-image: asset-url('Cute_bookshelf.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  width: 400px;
  height: 630px;
  align-items: flex-end;

}

.shelf-Classic {
  background-image: asset-url('Classic_bookshelf.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  width: 400px;
  height: 700px;
}

.shelf-nil {
  background-image: asset-url('Cute_bookshelf.gif');
}


.shelf-row {
  width: 100%;
  height: 100px;
  margin: 60px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 63px;
}

.shelf-row-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.book-item {
  width: 34px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
  background-position: center;
  background-size: cover;
}

.book-click {
  background-image: asset-url('Cute_book_outline.gif');
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
  background-position: center;
  background-size: cover;
  width: 210px;
  height:100px;
}

.book-Cute {
  background-image: asset-url('Cute_book_4.gif');
}

.book-Classic {
  background-image: asset-url('Cute_book_2.gif');
}

.movie-item {
  width: 28px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
  background-position: center;
  background-size: cover;
}

.movie-click {
  background-image: asset-url('Cute_movie_outline.gif');
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
  background-position: center;
  background-size: cover;
  width: 160px;
  height:120px;
}

.album-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $lighter-jet;
  font-size: 10px;
  color: $light-cream;
  margin-right: -10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
  }
}

.interest-item {
  width: 100px;
  height: 20px;
  background-color: $light-blue;
  transform: rotate(90deg);
  font-size: 10px;
  color: $jet;
  margin-right: -64px;
  margin-left: -10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
}

.other-shelf {
  position: relative;
  background-color: $light-yellow;
}

.add-friend {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: $lighter-jet;
  transition: color 0.35s;
}

.add-friend:hover {
  color: $jet;
}

.user-search-list {
  position: relative;
}
