.shelf {
  width: 97%;
  height: 71%;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-image: url('/assets/Bookshelf.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.shelf-row {
  width: 88%;
  height: 120px;
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shelf-row-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.book-item {
  width: 100px;
  height: 20px;
  background-color: $light-brown;
  transform: rotate(90deg);
  font-size: 10px;
  color: $jet;
  margin-right: -64px;
  margin-left: -10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2;
}

.movie-item {
  width: 80px;
  height: 14px;
  background-color: $light-green;
  transform: rotate(90deg);
  font-size: 10px;
  color: $jet;
  margin-right: -54px;
  margin-left: -10px;
}

.album-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $lighter-jet;
  // transform: rotate(90deg);
  font-size: 10px;
  color: $light-cream;
  margin-right: -10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
  }
}

.comments-section {
  background-color: $light-green;
  padding: 5px;
}
